body
{
    margin: 0;
    padding: 0;

    background-color: #D071f9;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 5px;
}

.center h1
{
    text-align: center;
    padding-bottom : 20px ;
    border-bottom: 1px solid silver;
    
}

.form
{
    padding-bottom: 15%;
    padding-top: 0 20px;
    text-align: center;

}

.textfield
{
    width : 90%;
    height: 50px;
    font-size: 18px;
    border: 2px solid #D071f9;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 7px;
}

.btn
{
    width : 90%;
    height: 50px;
    font-size: 18px;
    border: 0px ;
    background-color: #D071f9;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 7px;
    
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    ;
}

.btn:hover
{
    background-color: blueviolet;
}

.link
{
    text-decoration: none;

}

@media (max-width : 470px)
{

    .center
    {
        width: 88%;
    }
}

